#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.winner {
  width: 120px;
  height: 80vh;
  background-color: white;
}
.secondPlace {
  width: 120px;
  height: 60vh;
  background-color: blue;
}
.thirdPlace {
  width: 120px;
  height: 50vh;
  background-color: green;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
